git+https://github.com/brucecarson12/berserk.git
git+https://github.com/dn1z/pgn2gif.git
cachetools==4.1.1
cairocffi==1.2.0
CairoSVG==2.5.0
cffi==1.14.3
chardet==3.0.4
chess==1.3.0
chess.com
discord.py
google-auth==1.23.0
google-auth-oauthlib==0.4.2
gspread==3.6.0
ndjson==0.3.1
nest-asyncio==1.5.1
oauthlib==3.1.0
pangocffi==0.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
python-chess==1.999
python-dotenv==0.15.0
requests==2.22.0
yarl>=1.9.0